.find {
  max-width: 1040px;
  margin: auto;
}

.heading h1 {
  padding: 2rem;

  text-align: center;
  font-size: 4rem;
}

.heading p {
  text-align: center;
}

.text_bg {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 650px;
  height: 30px;
  margin: auto;

  background-color: rgba(173, 199, 255, 0.502);
}

.text_bg p {
  margin-top: -0.6rem;

  font-size: 1.5rem;
}

.slider_container {
  padding: 5rem 0;
}

.card {
  margin: 0.5rem;

  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card img {
  width: 100%;
  height: 200px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
